body {
    padding: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.infoComple {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul h3 {
    margin-right: 25px;
}
li {
    margin-left: 25px;
    margin-right: 10px;
}
i {
    padding: 5px;
}
.header-principal {
    padding: 10px;
}
.header-principal h1 {
    text-align: center;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    padding-top: 20px;
    height: 50px;
}
header h2 {
    text-align: center;
}
section {
    margin: 25px;
}
.container-fluid {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.H-principal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.section-principal {
    background-color: lightcyan;;
    padding: 10px;
}
.section-secondaire {
    background-color: lightcyan;
    padding: 10px;
}
.article-un {
    display: flex;
}
.block {
    margin: 10px;
}

nav {
    margin-top: 15px;
}

footer {
    text-align: center;
    background-color: lightcyan;
}
.form-group {
    margin: 5px;
}