body {
    padding: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul h3 {
    margin-right: 25px;
}
li {
    margin-left: 25px;
    margin-right: 10px;
}
i {
    padding: 5px;
}
.header-principal {
    background-color: purple;
    padding: 10px;
}
.header-principal h1 {
    text-align: center;
}

.header-nav {
    background-color: plum;
}
header h2 {
    text-align: center;
}
section {
    margin: 25px;
}
.container-fluid {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}
.section-principal {
    background-color: plum;
    padding: 10px;
}
.section-secondaire {
    background-color: plum;
    padding: 10px;
}
.article-un {    
    background-color: purple;
    display: flex;
}
.article-deux {
    background-color: purple;
}
.block1 {
    background-color: grey;
    margin: 10px;
}
.block2 {
    background-color: grey;
    margin: 10px;
}

nav {
    background-color: orange;
    margin-top: 15px;
}

footer {
    background-color: lightblue;
}